body{
    background-color: #333;
    color: #ddd;
    text-align: center;
    font-family: sans-serif;
}
a{
    text-emphasis: none;
    color: lightsteelblue;
    text-decoration: none;
}
