matplotlib
plotly
pandas
adjustText
scikit-learn
requests
bokeh
datashader
holoviews
pyviz_comms
jupyter-server-proxy
massql
sphinx-hoverxref

--extra-index-url https://pypi.cs.uni-tuebingen.de/simple/
pyopenms_nightly