# Dependency of Sphinx, the 3.0 release breaks it (currently)
snowballstemmer<3
matplotlib
plotly
pandas
adjustText
scikit-learn
tabulate
requests
bokeh
datashader
holoviews
pyviz_comms
jupyter-server-proxy
massql
sphinx-hoverxref


pyopenms
