:root {
    --icon-video: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABmJLR0QA/wD/AP+gvaeTAAAA4klEQVRIie3VQUoDMRSA4W/UVheuWm+hlyjS3kMQhZ5g3PUOBRcivUDrGbyEbvQOrrrQhbSLSUHCFJPWAcX+EPII7+VP4JGwI4OiZq2LC+xvsN8nJnj7LvEGHbTwgn5Yn6EMcYlpiPshrxUOWIrYq5Ecqr9hTBHNK44Sao2w2GKM4g3rbvLj/F/JGR6bljzjHNeYNyWh6qA7XDYpKXCF+9SCg0zBKcbo5RTlSp4y8/FLW/jvSbpo4xUDVUc9qL6BIsyzEA9CXhsnqZIP2z317+sSv9LBEMcJopg5biX8jDvWsgTMLSq1OdtB+QAAAABJRU5ErkJggg==');
    --color-video: rgb(88, 60, 25);
  }

div.highlight-python td.code pre {
         padding-left: 0px;
}

/* For a sticky header, so binder buttons etc. can always be clicked. z-index 1000 to stay on top of other relative divs like code snippets */
div[aria-label="Page navigation"] {
    top: 0;
    position: sticky;
    background: #fcfcfc;
    z-index: 1000;
}

/* Adjust scroll behaviour for anchors in section headers to sticky header */
section {
    scroll-margin-top: 60px;
}

/* If a parent has overflow, sticky position does not work */
body {
    overflow-x: unset;
}

/*background css*/

  div.admonition.video p:first-of-type {
    background-color:  #96735d;
  }

  div.admonition.video {
    background: #dac6aa !important;
  }
  
  div.admonition.video p::before {
    background-color: #96735d;
    font-family: FontAwesome;
    content: "\f008";
  }

  a.hxr-hoverxref {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-link-underline);
    border-bottom: none;
  }
  
  a.hxr-hoverxref:hover {
    text-decoration-color: var(--color-link-underline--hover);
  }



