# Updated to use latest compatible versions as of December 2025.
sphinx==8.2.3
pydata-sphinx-theme
readthedocs-sphinx-search
sphinx-copybutton
sphinx-hoverxref
sphinx-remove-toctrees
## for pygment coloring of code snippets using ipython syntax
ipython
pygments-lexer-pseudocode

--extra-index-url https://pypi.cs.uni-tuebingen.de/simple/
pyopenms
