# Defining the exact version will make sure things don't break
furo
pygments
readthedocs-sphinx-search
sphinx
sphinx-copybutton
sphinx-inline-tabs
sphinx-notfound-page
sphinx-hoverxref

--extra-index-url https://pypi.cs.uni-tuebingen.de/simple/
pyopenms_nightly
