name: Building latest pyopenms package and generating jupyter Notebooks

on:
  push:
    branches: [ master, merge-workflows ]

jobs:

  build-lnx:
    runs-on: ubuntu-latest
    container: openms/manylinux:latest

    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7' # Version range or exact version of a Python version to use, using SemVer's version range syntax

    - name: Installing System Dependenies
      run: |
        yum -y install epel-release
        wget https://github.com/jgm/pandoc/releases/download/2.14.2/pandoc-2.14.2-linux-amd64.tar.gz
        tar -xvf pandoc-2.14.2-linux-amd64.tar.gz
        cp pandoc-2.14.2/bin/pandoc /usr/bin/pandoc

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade pandocfilters
        if [ -f requirements.txt ]; then python3 -m pip install --upgrade -r requirements.txt; fi

    - name: Generating notebooks
      run: |
        cd docs/
        make doc
        
    - name: Commit files
      run: |
        git config --local user.email "rahulagrawal799110@gmail.com"
        git config --local user.name "rahul799"
        git add docs/*
        git commit -m "ipynb notebooks generated" -a

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: "master+ipynb"
        force: true
