name: Build and Test code in notebooks

on:
  pull_request:
    branches:
      - master

jobs:

  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v19
      with:
          path: docs/source
          files: |
            *.rst
          files_ignore: |
            _templates/*.rst

      
    - uses: r-lib/actions/setup-pandoc@v1
      with:
        pandoc-version: '2.14.2'

    - uses: actions/setup-python@v2
      with:
        python-version: '3.7' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        
    - name: Installing Dependenies
      run: |
        wget -q https://nightly.link/OpenMS/OpenMS/workflows/pyopenms-wheels/nightly/Linux-wheels.zip\?status\=completed
        mv Linux-wheels.zip\?status=completed Linux-wheels.zip
        unzip Linux-wheels.zip
        python3 -m pip install pyopenms_nightly-*-cp37-cp37m-*_x86_64.whl
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade pandocfilters jupyter
        if [ -f requirements.txt ]; then
          grep -v "pyopenms" requirements.txt > reqs_nopyoms.txt
          python3 -m pip install --upgrade -r reqs_nopyoms.txt
          rm reqs_nopyoms.txt
        fi
    
    - name: Generating notebooks
      run: |
        pushd docs/source
          ./generate_ipynb.sh
        popd

    - name: List all modified files
      run: |
        for file in ${{ steps.changed-files.outputs.all_modified_files }}; do
          jupyter nbconvert --to notebook --inplace --execute ${file%.rst}.ipynb
        done
